@font-face {
  font-family: "Lato-Thin";
  src: url("Lato/Lato-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Lato-Thin-Italic";
  src: url("Lato/Lato-ThinItalic.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Lato-Light";
  src: url("Lato/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lato-Light-Italic";
  src: url("Lato/Lato-LightItalic.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("Lato/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato-Regular-Italic";
  src: url("Lato/Lato-Italic.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("Lato/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato-Bold-Italic";
  src: url("Lato/Lato-BoldItalic.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato-Black";
  src: url("Lato/Lato-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Lato-Black-Italic";
  src: url("Lato/Lato-BlackItalic.ttf");
  font-weight: 900;
}
