@import "src/fonts/fonts.module";
@import "src/config/styles";

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: $container-with;
  margin: auto;
  font-family: "Lato-Bold", sans-serif;
  letter-spacing: 1px;
}

.submitWrapper {
  display: flex;
  justify-content: flex-end;
  flex: auto;

  & .submit {
    flex: 0 1 $container-with / 2 - 15px * 2;
    font-family: inherit;
    letter-spacing: inherit;
    background-color: #e9c864;
    border-radius: 5px;
    border: none;
    margin: 0 15px;
    outline: none;
    height: 40px;
    font-size: 16px;
    cursor: pointer;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
