@import "src/fonts/fonts.module";

$container-with: 600px;

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: $container-with;
  margin: auto;
  font-family: "Lato-Bold", sans-serif;
  letter-spacing: 1px;
  padding: 50px 0;

  label {
    display: flex;
    flex-direction: column;
    flex: 1 1 $container-with / 2 - 15px * 2;
    margin: 0 15px 25px;

    &:nth-child(8), &:nth-child(9), &:nth-child(12) {
      flex: 1 1 100%;
    }

    &:nth-child(6), &:nth-child(10) {
      @media screen and (min-width: $container-with) {
        input {
          margin-right: -15px;
          border-radius: 5px 0 0 5px;
        }
      }
    }

    &:nth-child(7), &:nth-child(11) {
      justify-content: flex-end;

      @media screen and (min-width: $container-with) {
        input {
          margin-left: -15px;
          border-left: none;
          border-radius: 0 5px 5px 0;
        }
      }
    }

    &:nth-child(5), &:nth-child(15) {
      flex-direction: row-reverse;
      justify-content: flex-end;

      span {
        margin: 0 25px 15px;
      }
    }

    &:nth-child(5) {
      align-items: flex-end;
    }

    &:nth-child(15) {
      align-items: flex-start;
      flex: 1 1 $container-with - 15px * 2;
      border-bottom: 1px solid #d8d8d8;

      span {
        margin-bottom: 40px;
      }

      input {
        position: relative;
        top: -14px;
      }
    }

    span {
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    input {
      outline: none;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
      height: 40px;
      padding: 0 15px;
    }
  }
}

.title {
  flex: 1 1 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 45px;

  &:first-letter {
    text-transform: uppercase;
  }
}

.submitWrapper {
  display: flex;
  justify-content: flex-end;
  flex: auto;

  & .submit {
    flex: 0 1 $container-with / 2 - 15px * 2;
    font-family: inherit;
    letter-spacing: inherit;
    background-color: #e9c864;
    border-radius: 5px;
    border: none;
    margin: 0 15px;
    outline: none;
    height: 40px;
    font-size: 16px;
    cursor: pointer;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
